* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.image img {
    width: 100vw;
    height: 60vh;
}

span {
    text-align: center;
    z
}

.discp .heading {}

.discp {
    align-items: center;
}